$primary-950: #397859;
$primary-900: #397859;
$primary-800: #46936e;
$primary-700: #55ae83;
$primary-600: #70bb97;
$primary-500: #8cc8ab; // base color
$primary-400: #a4d4bd;
$primary-300: #bcdfce;
$primary-200: #d4ebe0;
$primary-100: #edf6f2;
$primary-50:  #f6faf8;

$accent1-900: #21485d;
$accent1-800: #27546c;
$accent1-700: #2c607b;
$accent1-600: #326b8a;
$accent1-500: #377799; // base color
$accent1-400: #4e98bf;
$accent1-300: #7bb2cf;
$accent1-200: #a8cce0;
$accent1-100: #d5e7f0;
$accent1-50:  #f6fafc;

$accent2-900: #706225;
$accent2-800: #8b792e;
$accent2-700: #a69137;
$accent2-600: #c0a840;
$accent2-500: #c9b45b; // base color
$accent2-400: #d3c27a;
$accent2-300: #ddd098;
$accent2-200: #e7deb7;
$accent2-100: #f1ecd6;
$accent2-50:  #fbfaf4;

$neutral-900: #37352d;
$neutral-800: #5e5a4e;
$neutral-700: #857f6e;
$neutral-600: #a7a294;
$neutral-500: #ccc6b6; // base color
$neutral-400: #d6d2c5;
$neutral-300: #e1ddd4;
$neutral-200: #ebe9e3;
$neutral-100: #f6f5f2;
