@import "../layout/color.scss";

.intro {
  width: 60rem;
  margin: auto;
  margin-top: 8rem;

  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

.call_to_action {
  display: block;
  font-size: 1.1em;
  padding: 0.5em 0.8em;
  color: black;
  background: $primary-200;
  border: 1px solid $primary-600;
  border-radius: 0.2em;
  text-align: center;
  cursor: pointer;

  width: 3rem;
  margin: 6rem auto;
}
