._1ilcf37Zgmhc6LiQUefsUV {
  width: 60rem;
  margin: auto;
  margin-top: 8rem; }
  ._1ilcf37Zgmhc6LiQUefsUV p {
    font-size: 1.2rem;
    line-height: 1.5; }
    ._1ilcf37Zgmhc6LiQUefsUV p._1AfWp7UtBSR4b7KiuD8CUW {
      font-size: 2rem;
      color: #c0a840;
      margin-bottom: 1rem; }
    ._1ilcf37Zgmhc6LiQUefsUV p._2uIKon23Runx1p8xXOUltq {
      margin-bottom: 3rem; }
    ._1ilcf37Zgmhc6LiQUefsUV p span {
      color: #a7a294; }
    ._1ilcf37Zgmhc6LiQUefsUV p b {
      font-weight: bold; }

._2L4tSI3MtmFMM8pinv3lMj {
  border-bottom: 1px solid #e1ddd4;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 2rem;
  background: #f6f5f2; }
  ._2L4tSI3MtmFMM8pinv3lMj p {
    font-size: 3rem;
    color: #00B9F1;
    padding-left: 2rem; }
  ._2L4tSI3MtmFMM8pinv3lMj ._26Fbteo54Jg3v5F-_PYHF6 {
    padding-left: 6rem; }
  ._2L4tSI3MtmFMM8pinv3lMj a {
    color: grey;
    margin-right: 3rem; }

._4pQysMfuC3yH96XCh-YIu {
  width: 100%;
  border-bottom: 1px solid #e1ddd4;
  margin: 3rem 0; }

._4bWUh1G8EMnXxjYOYw7jo {
  display: inline-block;
  font-size: 1.1em;
  padding: 0.7rem;
  color: black;
  background: #f6f5f2;
  border: 1px solid #d6d2c5;
  text-align: center;
  cursor: pointer;
  width: 7rem;
  margin-right: 2rem; }

.lDo2qCsBojN-wOtmLInP4 {
  margin: auto;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.eUEtJ3s9Ed1xlrGKhp8Re {
  zoom: 0.8; }

.x_jxtW-wd6IDJLx-mVi3l {
  font-size: 2.5rem; }

._1Q794LuiRHVpgy_7XfeLBW {
  width: 13.9rem;
  border: 1px solid #e1ddd4;
  text-align: center;
  margin-right: 1rem; }
  ._1Q794LuiRHVpgy_7XfeLBW a {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5rem 1.5rem; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.01px;
  -webkit-font-smoothing: antialiased;
  color: #37352d; }

a {
  text-decoration: none;
  color: #0f74bd;
  cursor: pointer; }
  a:hover {
    text-decoration: underline; }

._1vBzYb53EALHWQRp_DlwP9 {
  width: 60rem;
  margin: auto;
  margin-top: 8rem; }
  ._1vBzYb53EALHWQRp_DlwP9 p {
    font-size: 1.2rem;
    line-height: 1.5; }

._1hJUwUuVd2qYwKwLCkx-nQ {
  display: block;
  font-size: 1.1em;
  padding: 0.5em 0.8em;
  color: black;
  background: #d4ebe0;
  border: 1px solid #70bb97;
  border-radius: 0.2em;
  text-align: center;
  cursor: pointer;
  width: 3rem;
  margin: 6rem auto; }

._1wyukrpi8-heGp7wyU-q2u {
  width: 45rem;
  margin: auto;
  margin-top: 8rem; }
  ._1wyukrpi8-heGp7wyU-q2u p {
    font-size: 1.2rem;
    line-height: 1.5; }
    ._1wyukrpi8-heGp7wyU-q2u p.f-fdKvo7F8G6FU55WzARM {
      font-size: 2rem;
      color: #c0a840;
      margin-bottom: 1rem; }

._1STejtU01GVIzknuPs6o6l label {
  display: inline-block;
  width: 15rem;
  font-size: 1.2rem;
  margin-top: 3rem; }

._1STejtU01GVIzknuPs6o6l input {
  width: 26rem;
  font-size: 1.2rem; }
  ._1STejtU01GVIzknuPs6o6l input::placeholder {
    color: #a7a294; }

.Ml92BGIetar6vmEhuIJ22 {
  display: inline-block;
  font-size: 1.1em;
  padding: 0.5rem;
  color: black;
  background: #d4ebe0;
  border: 1px solid #70bb97;
  border-radius: 0.2em;
  text-align: center;
  cursor: pointer;
  width: 6rem;
  margin-top: 4rem; }

._2ZpA93-CW6ZUnrED4Ieeq {
  width: 60rem;
  margin: auto;
  margin-top: 8rem; }
  ._2ZpA93-CW6ZUnrED4Ieeq p {
    font-size: 1.2rem;
    line-height: 1.5; }
    ._2ZpA93-CW6ZUnrED4Ieeq p._1bx6uLtbml6NU2LeGDwkU5 {
      font-size: 2rem;
      color: #c0a840;
      margin-bottom: 1rem; }
    ._2ZpA93-CW6ZUnrED4Ieeq p._1th2eHH48dJNzesARwgHZP {
      margin-bottom: 3rem; }

._3pRhc6ep0LE5RD-MowDp_7 label {
  display: inline-block;
  width: 35rem;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  text-align: right;
  padding-right: 3rem;
  box-sizing: border-box;
  line-height: 1.3; }

._3pRhc6ep0LE5RD-MowDp_7 input {
  width: 7.5rem;
  font-size: 1.2rem;
  border: 1px solid #a7a294; }
  ._3pRhc6ep0LE5RD-MowDp_7 input::placeholder {
    color: #a7a294; }

._1hxfVBih4Rm_Z5pDIZJhWx {
  height: 4rem; }

.iQmIE7W86yEb9zDRiIMSz {
  display: inline-block;
  font-size: 1.1em;
  padding: 0.5rem;
  color: black;
  background: #d4ebe0;
  border: 1px solid #70bb97;
  border-radius: 0.2em;
  text-align: center;
  cursor: pointer;
  width: 3.5rem;
  margin: 1rem 0 8rem 2.7rem; }

.lQyedqBm4p9CI_0UYusR3 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  width: 42.7rem; }
  .lQyedqBm4p9CI_0UYusR3 img {
    width: 7.5rem;
    height: 7.5rem;
    margin-left: 1.5rem; }
  .lQyedqBm4p9CI_0UYusR3._3fjNhedi_-HjiR4__dAM3g {
    width: 100%;
    justify-content: flex-start; }

._1QGfvZh1HdCORmStahB3Q7 {
  width: 53rem;
  margin: auto;
  margin-top: 8rem; }
  ._1QGfvZh1HdCORmStahB3Q7 p {
    font-size: 1.2rem;
    line-height: 1.5; }
    ._1QGfvZh1HdCORmStahB3Q7 p._1PsCnMg4nF8UkoR2mIl0TZ {
      font-size: 2.5rem;
      text-align: center;
      color: #70bb97;
      margin-bottom: 2rem; }

._1rCfYPVUttJ12lMda24vbv {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem; }
  ._1rCfYPVUttJ12lMda24vbv img {
    max-width: 7rem;
    max-height: 7rem; }

._3soflfwX4XgeM5QtSnyTOU {
  width: 70%;
  margin: auto;
  max-width: 80rem; }
  ._3soflfwX4XgeM5QtSnyTOU h2 {
    font-size: 2rem;
    margin: 4rem 0 1.5rem 0; }
  ._3soflfwX4XgeM5QtSnyTOU video {
    width: 100%;
    border: 1px solid grey; }

._2vxNjrQREg5lYukMndJ47f {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  ._2vxNjrQREg5lYukMndJ47f .duhvwUFSfVYNNXdi7wNG5 {
    width: 26%;
    display: inline-block;
    margin-bottom: 4rem;
    border: 5px solid #333;
    cursor: pointer; }
    ._2vxNjrQREg5lYukMndJ47f .duhvwUFSfVYNNXdi7wNG5 img {
      width: 100%; }
    ._2vxNjrQREg5lYukMndJ47f .duhvwUFSfVYNNXdi7wNG5 p {
      font-size: 1.2rem;
      margin: 1rem 0;
      text-align: center; }

._2od7kmInSg9-QUfpmiGpjV {
  margin-top: 3rem;
  text-align: center; }

._3iE8NJIezcX9Onu9oyEvuQ {
  text-align: center;
  margin: 4rem 0; }

.Aak4ZTnm69JWuZ9kkTism {
  float: right;
  margin-top: 1.2rem; }

